.root {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
}

.gridList {
    width: 1000px;
}

.list {
    width: 100%;
    max-width: 36ch;
}

.inline {
    display: inline;
}

.gridListDiv {
    margin-right: 70px;
    margin-left: 70px;
}

.gridListDiv1 {
    margin-right: 10px;
    margin-left: 10px;
}
